/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/


.todo
{
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.menu
{
    display: flex;
    /* background-color: gray; */
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    /* margin-left: 10%; */
    padding: 32px 0;
    width: 80%;
    height: 30px;
    /* background-color: aquamarine; */
    
}

.menu__header
{
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu__header img
{
    width: 24px;
    height: 24px;
}

.menu__title
{
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #2a7ae4;
}

.menu__list
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: none;

}

.menu__list__item
{
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}

.menu__list__item a
{
    color: #464646;
    transition: .6s;
}

.menu__list__item a:hover
{
    /* color: black; */
    color: #2a7ae4;
    text-shadow: 0 0 6px rgba(255, 252, 252, 0.9);
}

.menu__list__item:last-child
{
    font-weight: 700;
}


/*Sección Title*/

.title
{
    display: flex;
    justify-content: center;
    /* gap: 200px; */
    margin-bottom: 50px;
    /* background-color: blue; */
    width: 100%;
}

.title__div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    /* background-color: red; */
}

.title__profile
{
    display: flex;
    order: 1;
    max-width: 50%;
    max-height: 70%;
    border-radius: 50%;
    box-shadow: 10px 2px 10px #464646;

}

.title__bio
{
    font-size: 52px;

}

.title__subsection
{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #2a7ae4;
}

.title__network
{
    display: flex;
    gap: 10%;
    padding: 0px;
    align-items: flex-start;
    flex-direction: row;
}

.title__network__item
{
    font-size: 18px;
}

.title__network__item a
{
    transition: .4s;
}

.title__network__item a:hover
{
    color: #2a7ae4;
}

.title__network__item a i 
{
    font-size: 25px;
}


/*Sección About*/

.about
{
    background-color: #EAF2FD;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px 0;
}

.about__container
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.about__title
{
    font-size: 32px;
}

.about__container img
{
    width: 150px;
    height: 52px;
}

.about__paragraph
{
    max-width: 65%;
}

/* Skills / Soft Skills */

.skills,  .soft__skills
{
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    gap: 32px;

}

.skills__title, .hobbies__title, .soft__skills__title
{
    font-weight: 700;
    font-size: 30px;

}

.skills__line, .soft__skills__line
{
    display: flex;
    flex-direction: row;
    /* background-color: #464646; */
    width: 80%;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

.skills__box, .soft__skills__box
{

    background-color: white;
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
    padding: 16px;
    /* width: 120px;
    height: 123px; */
    width: 12%;
    min-width: 115px;
    height: 125px;
    box-shadow: 2px 2px 2px #ccc;
    transition: .3s;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.fa-mobile , .fa-git-alt, .fa-handshake, .fa-comments, .fa-glasses, .fa-jedi, .fa-users-line, .fa-hand-holding-heart, .fa-person-running
{
    display: flex;
    color: #2a7ae4;
    padding: 12px 0;
}

.skills__box:hover
{
    box-shadow: 4.5px 4.5px 4.5px #ccc;
}

.soft__skills__box:hover
{
    box-shadow: 4.5px 4.5px 4.5px #ccc;
}

.skills__box ul, .soft__skills__box ul
{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin: 0;
}

.skills__img, .soft__skills__img
{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 0;
}

.skills__name, .hobbies__name, .soft__skills__name
{
    font-size: 16px;
    font-weight: 700;
}



/* hobbies */

.hobbies
{
    margin:5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    gap: 32px;    
}

.hobbies__line
{
    display: flex;
    flex-direction: row;
    /* background-color: #464646; */
    width: 80%;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hobbies__box
{
    background-color: white;
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    /* width: 120px;
    height: 123px; */
    width: 12%;
    min-width: 115px;
    height: 125px;
    box-shadow: 2px 2px 2px #ccc;
    transition: .3s;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.hobbies__box:hover
{
    box-shadow: 4.5px 4.5px 4.5px #ccc;
}

.hobbies__box ul
{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin: 0;
}

.hobbies__img
{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 0;
}

/* Experiencia Académica*/

.academic
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EAF2FD;
    width: 100%;

}

.academic__courses
{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    /* background-color: red; */
    gap: 2.5%;
    justify-content: space-between;
    justify-content: center;
}

.academic__courses__box
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    /* background-color: aqua; */
    align-items: center;
    margin: 0;
}

.academic__courses__list
{
    padding: 0; 
}

.academic__courses__item__img
{
    background-color: white;
    padding: 40px 62px;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    max-width: 250px;
    max-height: 130px;
    align-items: center;
}

.logo--buap img
{
    background-color: white;
    padding: 45px 30px;
    gap: 10px;
    border-radius: 15px;
    margin-bottom: 7px;
    max-width: 250px;
    max-height: 140px;
}

.logo--cbtis img
{
    background-color: white;
    padding: 36px 30px;
    gap: 10px;
    border-radius: 15px;
    margin-bottom: 6px;
    max-width: 250px;
    max-height: 140px;
}

.academic__courses__item__title h4
{
    margin: 0;
}

.academic__courses__item__subtitle p
{
    margin: 0;
}



/* experiencia*/

.experience
{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.experience__box
{
    display: flex;
    width: 80%;
    /* background-color: aqua; */
    align-items: center;
    padding: 3% 0;
}

.left
{
    box-shadow: -4px 2px 8px 4px #CCC;
}

.right
{
    order: 1;
    box-shadow: 4px 4px 8px 4px #CCC;
}


.experience__img
{
    width: 68%;
    /* box-shadow: 4px 4px 4px 4px #CCC; */
}

.experience__info
{
    padding: 0 16px;
    width: 30%
}

.experience__title , .experience__text
{
    text-align: left;
}

.experience__description
{
    display: flex;
    gap: 10px;
}

.experience__button--demo
{
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--azul-100, #2a7ae4);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.experiencia__button--repo
{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    gap: 40px;
    background-color:none;
    border: 1px solid #2a7ae4;
    color: #2a7ae4;
}

/*Contacto*/

.formcontato
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eaf2fd;
    width: 100%;
    padding: 64px 0;
}
.formcontato__contacto{
    display: flex;
    width: 80%;
    max-width: 80%;
    padding: 64px 0 0 0;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    /* background-color: aqua; */
}
.formcontato--left
{
    display: flex;
    justify-content: flex-start;
    /* width:max-content;
    height:max-content; */
}

.formcontato__img
{
    width: 100%;
    height: 100%;
    min-width: 324px;
    min-height: 440px;
}
.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:24px;
    /* flex: 1 0 0; */
    margin-top: 0;
}
.formcontato__title{
    display: flex;
    color: var(--preto-100, #464646);
    font-size: 32px;
    font-family: Raleway;
    font-weight: 700;
    margin: 0;
    line-height: 0;
    margin-bottom: 3px;

}
.formcontato__subtext{
    display: flex;
    width: 650px;
    flex-direction: column;
    color: var(--preto-100, #464646);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 0;
}
.formcontato__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}
form label
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.formcontato__input
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 6px;
    align-self: stretch;
    width: 97%;
    height: 32px;
    border: 0;
    box-shadow: 2px 2px 2px #CCC;
    border-radius: 8px;
    outline: none;
}

.formcontato__input:hover
{
    transition: .5s;
    box-shadow: 2px 2px 2px #2a7ae4;
}

.formcontato__input:focus
{
    box-shadow: 3px 3px 3px #2a7ae4;
}

.formcontato__textarea
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    width: 98%;
    border: 0;
    box-shadow: 2px 2px 2px #CCC;
    border-radius: 8px;
    resize: none;
    outline: none;
}

.formcontato__textarea:hover
{
    transition: .5s;
    box-shadow: 2px 2px 2px #2a7ae4;
}

.formcontato__textarea:focus
{
    box-shadow: 3px 3px 3px #2a7ae4;
}

.formcontato__boton
{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--azul-100, #2a7ae4);
    color: white;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.formcontato__boton:hover{
    transform: scale(1.1);
}

/*footeer*/

section.footer
{
    align-items: center;
    text-align: center;
    font-weight:700;
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 1210px) 
{

/* Menú */
    .menu nav ul li:nth-child(-n+6)
    {
        display: none;
    }
/*title*/
    .title__profile
    {
        max-width: 40%;
        box-shadow: 6px 2px 6px #464646;
    }

    .title__container
    {
        width: 70%;
    }

    .title__bio
    {
        font-size: 40px;
    }


    /* About */

    .about
    {
        padding: 30px 0;
    }

    .about__container
    {
        padding: 0;
    }

    .about__paragraph
    {
        max-width: 100%;
    }

    /*Skills*/

    .skills__box, .soft__skills__box, .hobbies__box
    {
        width: 25%;
        padding: 20px;
    }

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

    .experience__box
    {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    .experience__img
    {
        width: 100%;
    }

    .right
    {
        order: 0;
    }

    .experience__info
    {
        width: 100%;
        padding: 0;
    }

    .experience__description
    {
        width: 100%;
    }

/* Contacto */
    .formcontato--left
    {
        display: none;
    }

    .formcontato__text
    {
        width: 100%;
    }

    .formcontato__subtext
    {
        line-height: normal;
        width: 100%;
    }


}

/*Mobile*/
@media (max-width: 655px) 
{

    /*Menu*/
    .menu__header
    {
        gap: 4px;
    }
    .menu__title
    {
        width: 40%;
    }

    .menu__list
    {
        padding: 0;
    }

    .title__div
    {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .title__profile
    {
        order: 0;
    }

    .title__container
    {
        width: 100%;
    }

    .title__bio
    {
        font-size: 30px;
    }

    .title__network
    {
        gap: 0;
        justify-content: space-between;
    }

    .title__network__item a
    {
        font-size: 17px
    }

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

 /* Contacto */

 .formcontato__boton
 {
     width: 100%;
 }
/*Footer*/

}

@media (max-width: 375px)
{
    .menu__list
    {
        display: none;
    }

    .title__network__item i
    {
        display: none;
    }

    /* skills/soft/hobbies */

    .skills__box, .soft__skills__box, .hobbies__box
    {
        width: 85%;
    }

}